@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutDetailAdmin.cshtml";
}

@section Styles {

}

@section SideBar {

        <ul id="dashboard-menu">
            <li>                
                <a href="#">
                    <i class="icon-map-marker"></i>
                    <span>Spot 1</span>
                </a>
            </li>            
            <li>
                <a href="#">                    
                    <i class="icon-map-marker"></i>
                    <span>Spot 2</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="icon-map-marker"></i>
                    <span>Spot 3</span>
                </a>
            </li>
            <li>
                <a href="#">                    
                    <i class="icon-map-marker"></i>
                    <span>Spot 4</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-map-marker"></i>
                    <span>Spot 5</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-map-marker"></i>
                    <span>Spot 6</span>
                </a>
            </li>
        </ul>
}

<h2>Test</h2>

@section Footer {

}