Debug
/MongoDB.Web/MongoDB.Web/obj/Staging/MongoDB.Web.csprojResolveAssemblyReference.cache
/SaveASpot.Data/bin/Release
/SaveASpot.Data/obj/Release
/SaveASpot/obj/Release
/clipper_library/obj/Release
