@{
	Layout = null;
}
<div class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 data-header=""></h3>
	</div>
	<div class="modal-body">
		test
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<button class="btn btn-primary" data-model-ok=""></button>
	</div>
</div>
