@{
	ViewBag.Title = "Success";
}

<div class="table-wrapper products-table section">
	<div class="row-fluid head">
		<div class="span12">
			<h4>Cart</h4>
		</div>
	</div>

	<p>
		Thank you for contributing to Save a Spot.  Your contribution will be processed once we receive enough contributors for a phase. 
	</p>
</div>
