@using Newtonsoft.Json
@using SaveASpot.Core.Security
@model Cart
<div data-cart-initialize="__________catInitializeFunction">
	<script>
		function __________catInitializeFunction() {
			return @Html.Raw(JsonConvert.SerializeObject(Model.AsCartJson()));
		}
	</script>
</div>
