@model SaveASpot.ViewModels.MapViewModel
<div style="display: none;" id="sponsorsSpotSelectPanel">
	Corporate sponsors:
	<select id="sponsors" class="span3">
		@foreach (var sponsor in Model.Sponsors)
	{
			<option value="@sponsor.Identity.ToString()">@sponsor.CompanyName</option>
	}
	</select>

	<div data-numericcontrol="">
		Spots selected:
	<input type="text" disabled="disabled" data-count="" value="0" />
		<div class="btn-group-vertical">
			<button type="button" class="btn btn-default btn-mini" data-up=""><i class="icon-chevron-up"></i></button>
			<button type="button" class="btn btn-default btn-mini" data-down=""><i class="icon-chevron-down"></i></button>
		</div>
	</div>

	<button type="button" data-booking="" class="btn">Book</button>
	
	<button data-gocenter="">Go to center of phase</button>
</div>
