@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
	Layout = null;
}
<input id="@SiteConstants.TabSpecificReadyAlias" value="@SiteConstants.MapControllerAlias" type="hidden" />
<div id="sidebar-nav">
	<ul id="dashboard-menu">
		<li>
			<a href="#">
				<i class="icon-map-marker"></i>
				<span>Spot 1</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-map-marker"></i>
				<span>Spot 1</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-map-marker"></i>
				<span>Spot 1</span>
			</a>
		</li>
	</ul>
</div>
<div class="content">
	<h2>Map</h2>
</div>


