@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
	Layout = null;
}
<input id="@SiteConstants.MainMenuTabSpecificReadyAlias" value="@SiteConstants.MapControllerAlias" type="hidden" />
<input type="hidden" data-gmap-api-key="AIzaSyCw9fP5c4kc5MiZBvUzLiMc8tY00BU4_i4" />
<div id="sidebar-nav">
	<ul id="dashboard-menu">
		<li>
			<a href="#">
				<i class="icon-map-marker"></i>
				<span>Spot 1</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-map-marker"></i>
				<span>Spot 1</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-map-marker"></i>
				<span>Spot 1</span>
			</a>
		</li>
	</ul>
</div>
<div class="content">
	<style type="text/css">
		#map-container
		{
			width: 100%;
			height: 100%;
		}

		#map-canvas
		{
			width: 94%;
			padding: 17%;
		}
	</style>
	<div id="map-container" class="container">
		<div id="map-canvas" class="mini-layout-body">
		</div>
	</div>
</div>


