@using SaveASpot.Controllers
@{
	ViewBag.Title = "Home";
	Layout = SiteConstants.BootstrapLayout;
}
<input id="@SiteConstants.QFilter" value="homePage" type="hidden" />

<!-- navbar -->
<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<button type="button" class="btn btn-navbar visible-phone" id="menu-toggler">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="brand" href="@Url.Action("Index", "Home", new { area = "" })">Save A Spot</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
			</ul>
		</div>

		<ul class="nav pull-right">
			<li class="settings hidden-phone" id="loginButton" style="display: none;">
				@{Html.RenderPartial(SiteConstants.LogOnContainerView);}
			</li>
			<li id="userInfoButton" class="notification-dropdown" style="display: none;">
				@{Html.RenderPartial(SiteConstants.UserInfoContainerView);}
			</li>
		</ul>
	</div>
</div>
<!-- end navbar -->

<div class="content wide-content">
	<h2>Hello</h2>
</div>

@{ Html.RenderPartial(SiteConstants.ModalDialogContentView);}

<script>
	q.pageConfig = {
		loginUrl: "@Url.Action("Logon", "Account")",
		logoutUrl: "@Url.Action("LogOff", "Account")",
	};
</script>
