@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.ParcelsAndSpotsTabSpecificReadyAlias" value="@SiteConstants.PhasesControllerAlias" type="hidden" />

<h2>Index 2 lala</h2>
