@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.TabSpecificReadyAlias" value="@SiteConstants.PhasesControllerAlias" type="hidden" />

<div class="content wide-content">
	<h2>Phases</h2>
</div>
