@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.TabSpecificReadyAlias" value="@SiteConstants.PhasesControllerAlias" type="hidden" />

<div class="content wide-content">
	<div class="accordion" id="accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle">Phases</a>
			</div>
			<div class="accordion-body collapse in">
				<div class="accordion-inner">
					Phases
				</div>
			</div>
		</div>
		
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle">Parcels</a>
			</div>
			<div class="accordion-body collapse">
				<div class="accordion-inner">
					Parcels
				</div>
			</div>
		</div>
		
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle">Spots</a>
			</div>
			<div class="accordion-body collapse">
				<div class="accordion-inner">
					Spots
				</div>
			</div>
		</div>
	</div>
</div>
