<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<connectionStrings>
		<add name="MongoDBDefaultConnectionString" connectionString="mongodb://localhost:27017/" />
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="1.0.0.0"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		<add key="StripeSecretKey" value="sk_test_uqUye8OXZZJS9dznt0YHsqS2" />
		<add key="StripePublicKey" value="pk_test_HtOjhY9gYqhndfgX3jMUvohd" />
		<add key="MongodDBDefaultDatabaseName" value="SaveASpotDatabase"/>
		<add key="UseMinimizedScripts" value="false"/>
		<add key="SetupEnabled" value="true"/>
		<add key="logLevels" value="Info,Error"/>
		<add key="ApplicationMode" value="Debug"/>
		<add key="GoogleMapKey" value="AIzaSyCw9fP5c4kc5MiZBvUzLiMc8tY00BU4_i4"/>
		<add key="MaxSpotsPerPage" value="400"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="~/" timeout="2880" />
		</authentication>

		<!--<healthMonitoring enabled="true">
			<rules>
				<clear />
				<add name="Failure Audit Events" eventName="Failure Audits" provider="MongoDBWebEventProvider" />
				<add name="Web Errors" eventName="All Errors" provider="MongoDBWebEventProvider" />
			</rules>
			<bufferModes>
				<add name="Buffer" maxBufferSize="1000" maxFlushSize="200" urgentFlushThreshold="500" regularFlushInterval="00:00:6" urgentFlushInterval="00:00:03" maxBufferThreads="1" />
			</bufferModes>
			<profiles>
				<add name="Throttle" minInstances="1" maxLimit="1000" minInterval="00:00:01" />
			</profiles>
			<providers>
				<remove name="MongoDBWebEventProvider" />
				<add name="MongoDBWebEventProvider" type="MongoDB.Web.Providers.MongoDBWebEventProvider" bufferMode="Buffer" connectionStringName="MongoConnection" collection="WebEvents" />
			</providers>
		</healthMonitoring>-->

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="info@squarehook.com">
				<network enableSsl="true" port="587" host="email-smtp.us-east-1.amazonaws.com" userName="AKIAJBBGHNHXPNS5Z4SA" password="AsR4RcktVLny/vHG8V5eLwwmaZL+86Pp2uVq6FhqW8Ye" />
			</smtp>
		</mailSettings>
	</system.net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.web>
		<httpRuntime maxRequestLength="20000" />
	</system.web>

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
