@using SaveASpot.Controllers
@using SaveASpot.Controllers.Artifacts
@using SaveASpot.Core.Web.Mvc.Extensions
@{
	Layout = SiteConstants.Layouts.MainMenuTabs;
}

<input id="@SiteConstants.MainMenuTabSpecificReadyAlias" value="@SiteConstants.PhasesAndParcelsControllerAlias" type="hidden" />

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav nav-tabs">
			@foreach (var tabElement in Html.For<PhasePageTabAttribute>().OrderBy(e => e.IndexOfOrder))
	 {
				<li>
					@(Html.ButtonForElement<PhasePageTabAttribute>("a", tabElement.Alias, new { href = "#" }))
				</li>
	 }
		</ul>
	</div>
</div>
@using (Html.BeginContainerForElement<PhasePageTabAttribute>("div", htmlAttributes: new { id = "phasesAndParcelsTabContent", @class = "content wide-content" }, forAll: true))
{
	@RenderBody()
}