<ul id="dashboard-menu">    
    <li class="active">
        <a href="@Url.Action("Index", new { controller = "Phase" })" class="phase-all">
            <i class="icon-road"></i>
            <span>Phases</span>
        </a>
    </li> 
    <li>
        <a href="@Url.Action("Index", new { controller = "Sponsor" })" class="phase-all">
            <i class="icon-group"></i>
            <span>Sponsors</span>
        </a>
    </li> 
    <li>
        <a href="@Url.Action("Index", new { controller = "User" })" class="phase-all">
            <i class="icon-user"></i>
            <span>Users</span>
        </a>
    </li> 
</ul>