@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<link rel="shortcut icon" href="@Url.Content("~/Content/img/favicon.ico")" type="image/ico"/>
<h2>
	Sorry, an error occurred while processing your request.
</h2>

