@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
}

<input id="@SiteConstants.ParcelsAndSpotsTabSpecificReadyAlias" value="@SiteConstants.SpotsControllerAlias" type="hidden" />

<h2>Index 3 la la</h2>
