@using SaveASpot.Controllers
@{
	ViewBag.Title = "Index";
}
<input id="@SiteConstants.ParcelsAndSpotsTabSpecificReadyAlias" value="@SiteConstants.UploadPhasesAndParcelsControllerAlias" type="hidden" />

<table id="phases-and-parcels-uploader-table">
	<thead>
		<tr>
			<th>
				<div>
					<h3>Select Parcels files to upload</h3>
				</div>
				<br />
			</th>
			<th>
				<div>
					<h3>Select Spots files to upload</h3>
				</div>
				<br />
			</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td style="width: 50%; text-align: center; vertical-align: top;">
				<div data-template="parcelsData" style="display: none;">
					<div>
						<input type="file" data-parcels-file="" width="30px" height="10px;" />
						Spot price:
							<input type="text" data-spots-price="" data-val-required-depend="Spot price required." data-val-required-depend-element="" />
						<br />
						<br />
					</div>
				</div>
				<fieldset>
					@using (Html.BeginForm("UploadParcels", "UploadPhasesAndParcels", FormMethod.Post, new { @id = "parcels", enctype = "multipart/form-data", data_arg_name = "postedParcels" }))
		 {
						<div>
							<input type="file" data-parcels-file="" width="30px" height="10px;" />
							Spot price:
							<input type="text" data-spots-price="" data-val-required-depend="Spot price required." data-val-required-depend-element="" />
							<br />
							<br />
						</div>
						<div>
							<input type="file" data-parcels-file="" width="30px" height="10px;" />
							Spot price:
							<input type="text" data-spots-price="" data-val-required-depend="Spot price required." data-val-required-depend-element="" />
							<br />
							<br />
						</div>
						<div>
							<input type="file" data-parcels-file="" width="30px" height="10px;" />
							Spot price:
							<input type="text" data-spots-price="" data-val-required-depend="Spot price required." data-val-required-depend-element="" />
							<br />
							<br />
						</div>
						<a class="new-uploader-link" href="javascript:void(0)">Add new file</a><br />
						<br />
			 
						<button type="button" data-upload-button="parcels">Upload</button>
		 }
				</fieldset>
			</td>
			<td style="width: 50%; text-align: center; vertical-align: top;">
				<fieldset>
					@using (Html.BeginForm("UploadSpots", "UploadPhasesAndParcels", FormMethod.Post, new { @id = "spots", enctype = "multipart/form-data", data_arg_name = "postedSpots" }))
		 {
						<div>
							<input type="file" name="postedSpots" width="30px" height="10px;" /><br />
							<br />
						</div>
						<div>
							<input type="file" name="postedSpots" width="30px" height="10px;" /><br />
							<br />
						</div>
						<div>
							<input type="file" name="postedSpots" width="30px" height="10px;" /><br />
							<br />
						</div>
						<a class="new-uploader-link" href="javascript:void(0)">Add new file</a><br />
						<br />
			 
						<button type="button" data-upload-button="spots">Upload</button>
		 }
				</fieldset>
			</td>
		</tr>
	</tbody>
</table>
