@using SaveASpot.Controllers.Artifacts
@using SaveASpot.Core.Web.Mvc.Extensions
@{
	Layout = null;
}

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav nav-tabs">
			@foreach (var tabElement in Html.For<PhasePageTabAttribute>().OrderBy(e => e.IndexOfOrder))
	 {
				<li>
					@(Html.ButtonForElement<PhasePageTabAttribute>("a", tabElement.Alias, new { href = "#" }))
				</li>
	 }
		</ul>

		<div class="navbar-search pull-right">
			<ul class="nav ">
				<li id="searchPhasesAndSpotsMenu" style="display: none;">
					<input class="search" type="text" placeholder="search" />
				</li>
			</ul>
		</div>
	</div>
</div>
